/*
Extentions

@extends

Styleguide 4.0
*/
.display-block { display: block; }

.pull-left { float: left; }

.pull-right { float: right; }

.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }

.col-gutters { padding-left: 1em; padding-right: 1em; }

.col-baselines { padding-bottom: 1em; padding-top: 1em; }

.col-box { padding: 1em 1em; }

.margin-0 { margin: 0; }

.margin-bottom { margin-bottom: 1em; }

.margin-top { margin-top: 1em; }

.pad-0 { padding: 0; }

.pad-bottom { padding-bottom: 1em; }

.pad-top { padding-top: 1em; }

.box-offset { border: 1px solid #d4d4d4; }

h1, h2, h3, h4 { color: #29abe2; }

.text-subtle { color: #999999; }

html { color: #555555; }

h5, h6 { color: #333333; }

.box-offset { background: white; }

html { font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6, strong { font-weight: 600; }

html { line-height: 1em; }

.h-headline, h1 { font-size: 36px; }

.h-subheadline, h2 { font-size: 21px; }

.h-byline, h3 { font-size: 18px; }

.h-standfirst, h4 { font-size: 16px; }

.h-related, html, h5 { font-size: 14px; }

.h-promo, h6 { font-size: 12px; }

.h-micro { font-size: 10px; }

.box-offset { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

/*
Base

Styleguide 1.0
*/
/*
Config

Styleguide 1.1
*/
/*
Layout

The grid is based on [susy grid](http://susy.oddbird.net/guides/reference/).
 // $total-columns: <number>; $total-columns: 12;
 // $column-width: <length>; $column-width: 4em;
 // $gutter-width: <length>; $gutter-width: 1em;
 // $grid-padding: <length>; $grid-padding: $gutter-width;

Styleguide 2.0
*/
.page { *zoom: 1; max-width: 59em; _width: 59em; padding-left: 1em; padding-right: 1em; margin-left: auto; margin-right: auto; }
.page:after { content: ""; display: table; clear: both; }

/*
Type

Heading styles

Markup:
<h1>Heading</h1>
<h2>Heading</h2>
<h3>Heading</h3>
<h4>Heading</h4>
<h5>Heading</h5>
<h6>Heading</h6>

Styleguide 3.0
*/
h1, h2, h3, h4, h5, h6, p { margin: 0 0 1em 0; }

.text-subtle { font-weight: normal; }

/*
Buttons

A majority of buttons in the site are built from the same base class.

Styleguide 5.0
*/
/*
Listings

Styleguide 6.0
*/
/*
Forms

A majority of buttons in the site are built from the same base class.

Styleguide 5.0
*/
/*
Navigation

Styleguide 7.0
*/
/*
States

Styleguide 1.2
*/
/* -------------------------------------------------------------------------*/
/* Layout */
/* .container { @include container; @include susy-grid-background;
} */
