/*
Type

Heading styles

Markup:
<h1>Heading</h1>
<h2>Heading</h2>
<h3>Heading</h3>
<h4>Heading</h4>
<h5>Heading</h5>
<h6>Heading</h6>

Styleguide 3.0
*/

html {
    @extend %color-gray-dark;
    @extend .h-related;
    @extend %line-height-base;
    @extend %font-family-sans-serif;
}

#{headings()},
p {
    margin: 0 0 $grid-baseline 0;
}

#{headings()},
strong {
    @extend %font-weight-bold;
}

h1 {
    @extend .h-headline;
}
h2 {
    @extend .h-subheadline;
}
h3 {
    @extend .h-byline;
}
h4 {
    @extend .h-standfirst;
}
h5 {
    @extend .h-related;
}
h6 {
    @extend .h-promo;
}

// Colors

#{headings(4)} {
    @extend %color-blue;
}
#{headings(5, 6)} {
    @extend %color-black;
}

// Offset

.text-subtle {
    @extend %color-gray;
    font-weight: normal;
}